language: python

dist: xenial

branches:
  only:
    - master
    - develop
    - travis

python:
  - "3.6"

install:
  - pip install coveralls
  - pip install -e .[test]

script:
  - make test

after_success:
  - if [[ $TRAVIS_BRANCH == 'master' ]] && [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then coveralls; fi;
